.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 3.5rem 30rem;
  margin-bottom: 1rem;
  color: white;
}

.header a {
  color: #eae9e9;
  text-decoration: none;
  font-size: 20px;

}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;

}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 0rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-item article {
  display: flex;
}

.ais-Hits-item img {
  max-height: 125px;
  padding-right: 16px;
}

body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em
}

.left-panel {
  float: left;
  margin-top: 1em;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em
}

.left-panel {
  float: left;
  margin-top: 1em;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em
}

.left-panel {
  float: left;
  margin-top: 1em;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em
}

.left-panel {
  float: left;
  margin-top: 1em;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}